.vs/
FreeToGame/.vs/FreeToGame/DesignTimeBuild/.dtbcache.v2
FreeToGame/.vs/FreeToGame/DesignTimeBuild/.dtbcache.v2
FreeToGame/.vs/FreeToGame/FileContentIndex/49f82364-4375-42ac-a9a6-4cf0d25af229.vsidx
FreeToGame/.vs/FreeToGame/FileContentIndex/5dc545a9-fc6f-49a8-b89c-9f0d043d6f40.vsidx
FreeToGame/.vs/FreeToGame/FileContentIndex/8351f35b-7de0-4bff-b0f3-9af237ae8850.vsidx
FreeToGame/.vs/FreeToGame/FileContentIndex/d37a6062-4042-4124-a3f7-0adadfcea1a2.vsidx
FreeToGame/.vs/FreeToGame/v17/.suo
